.benefits__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .benefits__grid > :nth-child(even) {
    transform: translateY(30px);
  }
}

@media (min-width: 1024px) {
  .benefits__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
  
  .benefits__grid > :nth-child(2),
  .benefits__grid > :nth-child(4) {
    transform: translateY(40px);
  }
  
  .benefits__grid > :nth-child(even) {
    transform: translateY(40px);
  }
}
